nifi-template/HL7.json
{"flowContents":{"identifier":"acef7131-2a4a-3469-bda9-db19723132c0","instanceIdentifier":"0d4d12fa-018f-1000-0000-00001557006f","name":"HL7","comments":"","position":{"x":368.0,"y":152.0},"processGroups":[{"identifier":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478","instanceIdentifier":"7f2e35e6-ce6c-1622-0000-000056fcbecd","name":"Processor Load","comments":"","position":{"x":1680.0,"y":-144.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c9426db9-67c2-3603-9c0b-a8d9a504f256","instanceIdentifier":"6a8531f3-4885-1181-b2d4-7307e1159a19","name":"CareTeam","comments":"","position":{"x":2546.662109375,"y":65.34127807617188},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"import json\nimport sys\nimport csv\n\ndef flatten_participants(participants, primary_member_reference):\n    flat_data = []\n    for participant in participants:\n        for role in participant['role']:\n            if 'coding' in role:\n                for code_info in role['coding']:\n                    entry = {\n                        'member_reference': primary_member_reference,  # Consistent member reference for all\n                        'member_display': participant['member'].get('display', ''),\n                        'role_system': code_info['system'],\n                        'role_code': code_info['code'],\n                        'role_display': code_info['display']\n                    }\n                    flat_data.append(entry)\n    return flat_data\n\ndef json_to_csv(filename):\n    # Read from standard input\n    data = json.load(sys.stdin)\n\n    # Extract the primary member_reference from the subject reference of the care team\n    primary_member_reference = data['resource']['subject']['reference']\n\n    base_info = {\n        'fullUrl': data['fullUrl'],\n        'resourceType': data['resource']['resourceType'],\n        'careTeam_id': data['resource']['id'],\n        'status': data['resource']['status'],\n        'subject_reference': primary_member_reference,  # Use the primary reference for all\n        'encounter_reference': data['resource']['encounter']['reference'],\n        'period_start': data['resource']['period']['start'],\n        'managingOrganization_display': data['resource']['managingOrganization'][0]['display'],\n        'filename': filename\n    }\n\n    # Flatten the participant data\n    participants = flatten_participants(data['resource']['participant'], primary_member_reference)\n\n    # Append base info to each participant for full schema compliance\n    for participant in participants:\n        participant.update(base_info)\n\n    # Write to CSV\n    fieldnames = participants[0].keys() if participants else []\n    writer = csv.DictWriter(sys.stdout, fieldnames=fieldnames, quoting=csv.QUOTE_ALL)\n    writer.writeheader()\n    for participant in participants:\n        writer.writerow(participant)\n\nif __name__ == '__main__':\n    if len(sys.argv) > 1:\n        filename = sys.argv[1]  # Get filename from the command line argument\n        json_to_csv(filename)\n    else:\n        print(\"Error: No filename provided.\")\n","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478"},{"identifier":"828d682d-6f5e-3dee-be07-715a2b2ccc0c","instanceIdentifier":"bfdb3f23-6d9a-1a5d-ba90-207e3d228c1f","name":"UpdateAttribute","comments":"","position":{"x":2544.0,"y":296.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"Delete Attributes Expression":null,"filename":"process_careteam.py","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478"},{"identifier":"0f3955e6-df32-3c0c-9190-2aac2cc8c45d","instanceIdentifier":"0d4eb2a3-018f-1000-0000-00004fde3405","name":"Benefits","comments":"","position":{"x":2138.662109375,"y":57.341278076171875},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"import json\nimport sys\nimport csv\n\n# Define the function to extract nested values safely\ndef get_nested(data, *args, default=None):\n    for arg in args:\n        try:\n            data = data[arg]\n        except (IndexError, KeyError, TypeError):\n            return default\n    return data\n\n# Define the function to process the ExplanationOfBenefit\ndef process_benefit(json_data, filename):\n    # Flatten the data into a list of dictionaries for each item\n    items = []\n    \n    # Common identifiers for mapping\n    full_url = json_data['fullUrl']\n    subject_reference = get_nested(json_data, 'resource', 'patient', 'reference', default='unknown')\n\n    # Process each item\n    for item in get_nested(json_data, 'resource', 'item', default=[]):\n        encounter_references = [get_nested(enc, 'reference', default='unknown') for enc in item.get('encounter', [])]\n\n        item_details = {\n            'fullUrl': full_url,\n            'subject_reference': subject_reference,\n            'encounter_reference': \"; \".join(encounter_references),\n            'filename': filename,  # Include the filename in each item\n            'sequence': get_nested(item, 'sequence', default=''),\n            'productServiceCode': get_nested(item, 'productOrService', 'coding', 0, 'code', default=''),\n            'productServiceDisplay': get_nested(item, 'productOrService', 'coding', 0, 'display', default=''),\n            'servicedStart': get_nested(item, 'servicedPeriod', 'start', default=''),\n            'servicedEnd': get_nested(item, 'servicedPeriod', 'end', default=''),\n            'locationDisplay': get_nested(item, 'locationCodeableConcept', 'coding', 0, 'display', default=''),\n            'netValue': get_nested(item, 'net', 'value', default=''),\n            'netCurrency': get_nested(item, 'net', 'currency', default=''),\n        }\n        items.append(item_details)\n\n    # Output as CSV with all fields quoted\n    fieldnames = items[0].keys() if items else []\n    writer = csv.DictWriter(sys.stdout, fieldnames=fieldnames, quoting=csv.QUOTE_ALL)\n    writer.writeheader()\n    for item in items:\n        writer.writerow(item)\n\nif __name__ == \"__main__\":\n    if len(sys.argv) > 1:\n        filename = sys.argv[1]  # Get filename from the command line argument\n        json_data = json.load(sys.stdin)\n        process_benefit(json_data, filename)\n    else:\n        print(\"Error: No filename provided.\")\n","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478"},{"identifier":"485181bf-f0c1-309b-84c7-2c88f79436a2","instanceIdentifier":"0d9e4a02-018f-1000-0000-00003fb31a8d","name":"DeleteCDPObjectStore","comments":"","position":{"x":880.0,"y":-104.0},"type":"org.apache.nifi.processors.hadoop.DeleteCDPObjectStore","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.2.7.300-6"},"properties":{"kerberos-credentials-service":null,"file_or_directory":"/tmp/dod/hl7","cdp-storage-location":null,"Kerberos Principal":"nismaily"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true},"file_or_directory":{"name":"file_or_directory","displayName":"Path","identifiesControllerService":false,"sensitive":false},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478"},{"identifier":"b1fb096b-ad94-35ea-bbf6-e4f8bf652e44","instanceIdentifier":"7f2e3787-ce6c-1622-ffff-ffffb2e77c02","name":"ExecuteStreamCommand","comments":"","position":{"x":1304.0,"y":136.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"rm","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"-rf;/tmp/nismaily/scripts"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["output stream","original","nonzero status"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478"},{"identifier":"8523fb43-607e-3fe0-9bbb-7d9b729c5229","instanceIdentifier":"778a39e7-e469-15e2-a5c9-0ebbc413b2b2","name":"Claims","comments":"","position":{"x":3000.0,"y":64.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"import json\nimport sys\nimport csv\n\ndef flatten_claim_items(items, filename):\n    \"\"\"Flatten the claim item data into a list of dictionaries.\"\"\"\n    flat_items = []\n    for item in items:\n        entry = {\n            'item_sequence': item.get('sequence', ''),\n            'product_service_code': item['productOrService']['coding'][0].get('code', ''),\n            'product_service_display': item['productOrService']['coding'][0].get('display', ''),\n            'product_service_text': item['productOrService'].get('text', ''),\n            'net_value': item.get('net', {}).get('value', ''),\n            'net_currency': item.get('net', {}).get('currency', ''),\n            'encounter_reference': item.get('encounter', [{}])[0].get('reference', ''),\n            'diagnosis_sequence': item.get('diagnosisSequence', [])[0] if item.get('diagnosisSequence', []) else '',\n            'filename': filename  # Include the filename in each item\n        }\n        flat_items.append(entry)\n    return flat_items\n\ndef process_claims(filename):\n    # Read JSON data from standard input\n    data = json.load(sys.stdin)\n\n    # Extract base claim info\n    claim_info = {\n        'fullUrl': data['fullUrl'],\n        'claim_id': data['resource']['id'],\n        'status': data['resource']['status'],\n        'claim_type': data['resource']['type']['coding'][0]['code'],\n        'use': data['resource']['use'],\n        'patient_reference': data['resource']['patient']['reference'],\n        'patient_display': data['resource']['patient']['display'],\n        'provider_reference': data['resource']['provider']['reference'],\n        'provider_display': data['resource']['provider']['display'],\n        'billable_period_start': data['resource']['billablePeriod']['start'],\n        'billable_period_end': data['resource']['billablePeriod']['end'],\n        'created': data['resource']['created'],\n        'total_value': data['resource']['total']['value'],\n        'total_currency': data['resource']['total']['currency'],\n        'filename': filename  # Add filename to the base claim info\n    }\n\n    # Flatten the claim items data\n    items = flatten_claim_items(data['resource']['item'], filename)\n\n    # Add claim base info to each row in items list\n    for item in items:\n        item.update(claim_info)\n\n    # Write items to CSV, ensuring all fields are properly escaped and quoted\n    if items:\n        fieldnames = items[0].keys()\n        writer = csv.DictWriter(sys.stdout, fieldnames=fieldnames, quoting=csv.QUOTE_ALL)\n        writer.writeheader()\n        for item in items:\n            writer.writerow(item)\n    else:\n        print(\"No data to process.\")\n\nif __name__ == '__main__':\n    if len(sys.argv) > 1:\n        filename = sys.argv[1]  # Get filename from the command line argument\n        process_claims(filename)\n    else:\n        print(\"Error: No filename provided.\")\n","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478"},{"identifier":"e81c4c66-6f14-359a-bf2e-9934cfb753a6","instanceIdentifier":"b7423be5-eefa-1f8d-ab21-44978b45c978","name":"UpdateAttribute","comments":"","position":{"x":3000.0,"y":296.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"Delete Attributes Expression":null,"filename":"process_claims.py","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478"},{"identifier":"50607c7a-26e6-3a68-ac6d-f38efa6a294d","instanceIdentifier":"7f2e3788-ce6c-1622-ffff-ffffb9480055","name":"GenerateFlowFile","comments":"","position":{"x":1304.0,"y":-144.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478"},{"identifier":"7e178a9b-04a0-3a9f-916f-c5912913f45a","instanceIdentifier":"0d4f2063-018f-1000-0000-0000107052e4","name":"UpdateAttribute","comments":"","position":{"x":2134.1438494861513,"y":288.19410307114254},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"Delete Attributes Expression":null,"filename":"process_benifits.py","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478"},{"identifier":"76ad598f-e42f-3e55-a08c-312a0c62d966","instanceIdentifier":"5b1a310f-b4d9-1e68-bfae-9804f92f5016","name":"PutFile","comments":"","position":{"x":2552.0,"y":680.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/nismaily/scripts","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478"},{"identifier":"7da5d4b6-5b6b-3868-aac2-b757ecf65aea","instanceIdentifier":"2f173a1a-b596-16ea-a4de-9efe363c78a0","name":"Condition","comments":"","position":{"x":3408.0,"y":72.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"import json\nimport sys\nimport csv\n\ndef process_condition(filename):\n    # Read JSON data from standard input\n    data = json.load(sys.stdin)\n\n    # Extract base condition info\n    condition_info = {\n        'fullUrl': data['fullUrl'],\n        'condition_id': data['resource']['id'],\n        'clinical_status': data['resource']['clinicalStatus']['coding'][0]['code'],\n        'verification_status': data['resource']['verificationStatus']['coding'][0]['code'],\n        'condition_category': data['resource']['category'][0]['coding'][0]['display'],\n        'condition_code': data['resource']['code']['coding'][0]['code'],\n        'condition_display': data['resource']['code']['coding'][0]['display'],\n        'condition_text': data['resource']['code'].get('text', ''),\n        'subject_reference': data['resource']['subject']['reference'],\n        'encounter_reference': data['resource']['encounter']['reference'],\n        'onsetDateTime': data['resource']['onsetDateTime'],\n        'recordedDate': data['resource']['recordedDate'],\n        'filename': filename  # Adding filename to the base info\n    }\n\n    # Open standard output as a CSV writer\n    writer = csv.DictWriter(sys.stdout, fieldnames=condition_info.keys(), quoting=csv.QUOTE_ALL)\n    writer.writeheader()\n    writer.writerow(condition_info)\n\nif __name__ == '__main__':\n    if len(sys.argv) > 1:\n        filename = sys.argv[1]  # Get filename from the command line argument\n        process_condition(filename)\n    else:\n        print(\"Error: No filename provided.\")\n","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478"},{"identifier":"dedc78dc-e581-35d5-9e91-a31fc3056c72","instanceIdentifier":"7f2e3407-ce6c-1622-9292-70a7fa29791c","name":"UpdateAttribute","comments":"","position":{"x":3408.0,"y":304.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"Delete Attributes Expression":null,"filename":"process_condition.py","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"b1ebe091-f88b-3a26-934f-ebbc4164bc0f","instanceIdentifier":"7f2e3435-ce6c-1622-ffff-ffff97df8914","name":"","source":{"id":"8523fb43-607e-3fe0-9bbb-7d9b729c5229","type":"PROCESSOR","groupId":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478","name":"Claims","comments":"","instanceIdentifier":"778a39e7-e469-15e2-a5c9-0ebbc413b2b2"},"destination":{"id":"e81c4c66-6f14-359a-bf2e-9934cfb753a6","type":"PROCESSOR","groupId":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478","name":"UpdateAttribute","comments":"","instanceIdentifier":"b7423be5-eefa-1f8d-ab21-44978b45c978"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478"},{"identifier":"a6bdadb3-f51c-3581-85ca-0bebb6d186a2","instanceIdentifier":"7f2e3440-ce6c-1622-0000-0000533bad45","name":"","source":{"id":"828d682d-6f5e-3dee-be07-715a2b2ccc0c","type":"PROCESSOR","groupId":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478","name":"UpdateAttribute","comments":"","instanceIdentifier":"bfdb3f23-6d9a-1a5d-ba90-207e3d228c1f"},"destination":{"id":"76ad598f-e42f-3e55-a08c-312a0c62d966","type":"PROCESSOR","groupId":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478","name":"PutFile","comments":"","instanceIdentifier":"5b1a310f-b4d9-1e68-bfae-9804f92f5016"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478"},{"identifier":"93a3b29f-1669-3000-afff-684453e5bafa","instanceIdentifier":"7f2e3449-ce6c-1622-ffff-ffffebbc4eb1","name":"","source":{"id":"dedc78dc-e581-35d5-9e91-a31fc3056c72","type":"PROCESSOR","groupId":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478","name":"UpdateAttribute","comments":"","instanceIdentifier":"7f2e3407-ce6c-1622-9292-70a7fa29791c"},"destination":{"id":"76ad598f-e42f-3e55-a08c-312a0c62d966","type":"PROCESSOR","groupId":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478","name":"PutFile","comments":"","instanceIdentifier":"5b1a310f-b4d9-1e68-bfae-9804f92f5016"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478"},{"identifier":"77536050-491c-3195-841c-216c480c53c4","instanceIdentifier":"0d4f99e6-018f-1000-ffff-ffffbe06b308","name":"","source":{"id":"7e178a9b-04a0-3a9f-916f-c5912913f45a","type":"PROCESSOR","groupId":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478","name":"UpdateAttribute","comments":"","instanceIdentifier":"0d4f2063-018f-1000-0000-0000107052e4"},"destination":{"id":"76ad598f-e42f-3e55-a08c-312a0c62d966","type":"PROCESSOR","groupId":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478","name":"PutFile","comments":"","instanceIdentifier":"5b1a310f-b4d9-1e68-bfae-9804f92f5016"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478"},{"identifier":"1fe2e04e-4bad-32df-b1fb-4cc47c9c8301","instanceIdentifier":"0d4f5a5c-018f-1000-0000-0000330c032a","name":"","source":{"id":"0f3955e6-df32-3c0c-9190-2aac2cc8c45d","type":"PROCESSOR","groupId":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478","name":"Benefits","comments":"","instanceIdentifier":"0d4eb2a3-018f-1000-0000-00004fde3405"},"destination":{"id":"7e178a9b-04a0-3a9f-916f-c5912913f45a","type":"PROCESSOR","groupId":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478","name":"UpdateAttribute","comments":"","instanceIdentifier":"0d4f2063-018f-1000-0000-0000107052e4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478"},{"identifier":"087cf78c-5f17-3c49-b7c7-0eb524703dae","instanceIdentifier":"7f2e3431-ce6c-1622-0000-00003ee32203","name":"","source":{"id":"c9426db9-67c2-3603-9c0b-a8d9a504f256","type":"PROCESSOR","groupId":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478","name":"CareTeam","comments":"","instanceIdentifier":"6a8531f3-4885-1181-b2d4-7307e1159a19"},"destination":{"id":"828d682d-6f5e-3dee-be07-715a2b2ccc0c","type":"PROCESSOR","groupId":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478","name":"UpdateAttribute","comments":"","instanceIdentifier":"bfdb3f23-6d9a-1a5d-ba90-207e3d228c1f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478"},{"identifier":"5f14ae08-b731-3974-a9de-10cc4548f7a3","instanceIdentifier":"7f2e343a-ce6c-1622-0000-000022d389c5","name":"","source":{"id":"7da5d4b6-5b6b-3868-aac2-b757ecf65aea","type":"PROCESSOR","groupId":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478","name":"Condition","comments":"","instanceIdentifier":"2f173a1a-b596-16ea-a4de-9efe363c78a0"},"destination":{"id":"dedc78dc-e581-35d5-9e91-a31fc3056c72","type":"PROCESSOR","groupId":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478","name":"UpdateAttribute","comments":"","instanceIdentifier":"7f2e3407-ce6c-1622-9292-70a7fa29791c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478"},{"identifier":"258008c3-1419-3845-85c1-eb9481f0b888","instanceIdentifier":"7f2e3445-ce6c-1622-0000-00005911fb42","name":"","source":{"id":"e81c4c66-6f14-359a-bf2e-9934cfb753a6","type":"PROCESSOR","groupId":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478","name":"UpdateAttribute","comments":"","instanceIdentifier":"b7423be5-eefa-1f8d-ab21-44978b45c978"},"destination":{"id":"76ad598f-e42f-3e55-a08c-312a0c62d966","type":"PROCESSOR","groupId":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478","name":"PutFile","comments":"","instanceIdentifier":"5b1a310f-b4d9-1e68-bfae-9804f92f5016"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478"},{"identifier":"9d33a000-645c-3e72-a109-3ef3eb418b7e","instanceIdentifier":"7f2e378f-ce6c-1622-ffff-ffffde12417e","name":"","source":{"id":"50607c7a-26e6-3a68-ac6d-f38efa6a294d","type":"PROCESSOR","groupId":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478","name":"GenerateFlowFile","comments":"","instanceIdentifier":"7f2e3788-ce6c-1622-ffff-ffffb9480055"},"destination":{"id":"b1fb096b-ad94-35ea-bbf6-e4f8bf652e44","type":"PROCESSOR","groupId":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"7f2e3787-ce6c-1622-ffff-ffffb2e77c02"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"851b6b2d-5d2a-3c97-98fd-0ce1b8dfe478"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"}],"remoteProcessGroups":[],"processors":[{"identifier":"7d8ee0c7-4456-3b0b-98ff-9b2ae61ea876","instanceIdentifier":"18a158c8-a98a-388e-8865-c4acfd34a774","name":"UnpackContent","comments":"","position":{"x":504.0,"y":712.0},"type":"org.apache.nifi.processors.standard.UnpackContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"Packaging Format":"zip","File Filter":".*"},"propertyDescriptors":{"Packaging Format":{"name":"Packaging Format","displayName":"Packaging Format","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"9ee7d764-3193-3121-9676-31e196212941","instanceIdentifier":"e1cb59d9-5fe4-364e-9af6-2c405b149f29","name":"Process Benifits","comments":"","position":{"x":1128.0,"y":2048.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"/usr/bin/python3","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"#{Scripts Directory}/process_benifits.py;${filename}"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"e253fcf3-69e5-316c-9708-75977a202f9c","instanceIdentifier":"bbcea8d7-8b13-3eb9-b1a6-a005c1cfbc28","name":"Update Filename","comments":"","position":{"x":1136.0,"y":2360.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"Delete Attributes Expression":null,"filename":"${filename}-${UUID()}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","hdfs.dir":"#{HDFSDir}/benefits","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"hdfs.dir":{"name":"hdfs.dir","displayName":"hdfs.dir","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"7e406527-711b-395e-b9ce-e7d9d096361a","instanceIdentifier":"3005063a-b01c-3f47-b162-1386585461a0","name":"Process CareTeam","comments":"","position":{"x":-368.0,"y":2072.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"/usr/bin/python3","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"#{Scripts Directory}/process_careteam.py;${filename}"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"a37bb339-f438-3564-b9ae-5ef3bbcab063","instanceIdentifier":"b532556f-3d64-304f-8f13-76ea804cf679","name":"RouteOnAttribute","comments":"","position":{"x":520.0,"y":1616.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"careteam":"${resource.type:equals(\"CareTeam\")}","condition":"${resource.type:equals(\"Condition\")}","Routing Strategy":"Route to Property name","benifits":"${resource.type:equals(\"ExplanationOfBenefit\")}","claim":"${resource.type:equals(\"Claim\")}"},"propertyDescriptors":{"careteam":{"name":"careteam","displayName":"careteam","identifiesControllerService":false,"sensitive":false},"condition":{"name":"condition","displayName":"condition","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"benifits":{"name":"benifits","displayName":"benifits","identifiesControllerService":false,"sensitive":false},"claim":{"name":"claim","displayName":"claim","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"a66bb6b9-0181-3f76-9af2-e61d9a5c3d88","instanceIdentifier":"e235b860-a359-3a87-80c9-e742c6a60ea7","name":"Process Condition","comments":"","position":{"x":656.0,"y":2056.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"/usr/bin/python3","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"#{Scripts Directory}/process_condition.py;${filename}"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"f178ffce-0ce8-3c2e-a80c-fc76e4e7b001","instanceIdentifier":"d751a6c3-d4fc-358b-8b12-892101218d8e","name":"Update Filename","comments":"","position":{"x":-376.0,"y":2368.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"Delete Attributes Expression":null,"filename":"${filename}-${UUID()}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","hdfs.dir":"#{HDFSDir}/careteam","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"hdfs.dir":{"name":"hdfs.dir","displayName":"hdfs.dir","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"e905654b-5823-385b-ad41-1a185a3f4ce5","instanceIdentifier":"076a40ca-6c12-3c7e-be37-a506ee55f3c0","name":"Update Filename","comments":"","position":{"x":184.0,"y":2376.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"Delete Attributes Expression":null,"filename":"${filename}-${UUID()}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","hdfs.dir":"#{HDFSDir}/claims","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"hdfs.dir":{"name":"hdfs.dir","displayName":"hdfs.dir","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"96156b8e-e714-3405-b29d-e2b2fc39cf3f","instanceIdentifier":"a9f825bc-b7e1-342c-bd5a-48d8cd1bc3d6","name":"ListS3","comments":"","position":{"x":488.0,"y":192.0},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"Proxy Host":null,"list-type":"1","et-initial-listing-target":"all","Access Key":"#{ACCESS KEY}","prefix":null,"record-writer":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"et-time-window":"3 hours","custom-signer-class-name":null,"requester-pays":"false","custom-signer-module-location":null,"listing-strategy":"timestamps","Signer Override":"Default Signature","delimiter":null,"Secret Key":"#{SECRET KEY}","min-age":"0 sec","write-s3-user-metadata":"false","max-age":null,"AWS Credentials Provider service":null,"Listing Batch Size":"100","SSL Context Service":null,"write-s3-object-tags":"false","Bucket":"#{S3 Bucket}","Communications Timeout":"30 secs","Region":"us-east-1","Credentials File":null,"et-state-cache":null,"proxy-user-name":null,"Proxy Host Port":null,"use-versions":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"list-type":{"name":"list-type","displayName":"List Type","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"prefix":{"name":"prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"delimiter":{"name":"delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"min-age":{"name":"min-age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false},"write-s3-user-metadata":{"name":"write-s3-user-metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false},"max-age":{"name":"max-age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"write-s3-object-tags":{"name":"write-s3-object-tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"use-versions":{"name":"use-versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"88e6d70d-d021-3abd-8c81-c1bcd65a1354","instanceIdentifier":"f095a4a1-92a9-32e6-8b1b-419f38a4f569","name":"EvaluateJsonPath","comments":"","position":{"x":520.0,"y":1352.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","Null Value Representation":"empty string","resource.type":"$.resource.resourceType","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"resource.type":{"name":"resource.type","displayName":"resource.type","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"a7109f7c-9e98-3409-a1b5-0ceb24a65758","instanceIdentifier":"23e441b1-179f-354a-809b-00c7c977c89c","name":"SplitJson","comments":"","position":{"x":504.0,"y":936.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.entry[*]"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"0216ee66-42fe-33da-b949-52b4d3ec8fa5","instanceIdentifier":"5a267547-9b63-3cfb-a69d-13664f99e21b","name":"FetchS3Object","comments":"","position":{"x":504.0,"y":472.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"Proxy Host":null,"range-length":null,"Access Key":"#{ACCESS KEY}","range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"custom-signer-class-name":null,"requester-pays":"false","Object Key":"${filename}","AWS Credentials Provider service":null,"custom-signer-module-location":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"#{S3 Bucket}","Version":null,"Communications Timeout":"30 secs","Region":"us-east-1","Secret Key":"#{SECRET KEY}","Credentials File":null,"proxy-user-name":null,"Proxy Host Port":null,"encryption-service":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"100f006d-5404-3fb1-90cb-464cfc7153e4","instanceIdentifier":"38be3ed7-769e-1a5d-9cbc-50186f28e73f","name":"Check for code 15777000","comments":"","position":{"x":520.0,"y":1144.0},"type":"org.apache.nifi.processors.standard.RouteOnContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"Content Buffer Size":"10 MB","contains.code":".*15777000.*","Match Requirement":"content must contain match","Character Set":"UTF-8"},"propertyDescriptors":{"Content Buffer Size":{"name":"Content Buffer Size","displayName":"Content Buffer Size","identifiesControllerService":false,"sensitive":false},"contains.code":{"name":"contains.code","displayName":"contains.code","identifiesControllerService":false,"sensitive":false},"Match Requirement":{"name":"Match Requirement","displayName":"Match Requirement","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":2000,"concurrentlySchedulableTaskCount":8,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"144e031d-6ebd-37e0-91c7-e45cf0267425","instanceIdentifier":"c32b09e3-44dd-3362-a236-609ea1c2baa5","name":"Process Claims","comments":"","position":{"x":176.0,"y":2048.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"/usr/bin/python3","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"#{Scripts Directory}/process_claims.py;${filename}"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"c5cf339d-0a75-3c9b-9d5c-f94b8d19ee15","instanceIdentifier":"15c814c3-018f-1000-ffff-ffffbcc4ee47","name":"PutDatabaseRecord","comments":"","position":{"x":-592.0,"y":2696.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":null,"put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":null,"db-type":"Generic","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":null,"put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":null,"Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"84fda410-de73-38de-96ae-ded52b6452a9","instanceIdentifier":"f106c6b3-3328-3b46-9254-6e5ad577af9c","name":"PutCDPObjectStore","comments":"","position":{"x":544.0,"y":2808.0},"type":"org.apache.nifi.processors.hadoop.PutCDPObjectStore","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.2.7.300-6"},"properties":{"kerberos-credentials-service":null,"Kerberos Password":"#{CDPPASSWORD}","cdp-storage-location":null,"Kerberos Principal":"#{CDPUSERNAME}","writing-strategy":"simpleWrite","Directory":"${hdfs.dir}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"addda4a1-0d94-3894-b8f8-5997af7e8c74","instanceIdentifier":"e097c708-8033-306d-ab2c-51197d077cb0","name":"Update Filename","comments":"","position":{"x":648.0,"y":2360.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"Delete Attributes Expression":null,"filename":"${filename}-${UUID()}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","hdfs.dir":"#{HDFSDir}/condition","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"hdfs.dir":{"name":"hdfs.dir","displayName":"hdfs.dir","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"637d0ee5-eb39-34a1-a946-45cb40fc481c","instanceIdentifier":"389bdc40-3008-3703-ba90-8d2f6c2e9aa3","name":"","source":{"id":"84fda410-de73-38de-96ae-ded52b6452a9","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"f106c6b3-3328-3b46-9254-6e5ad577af9c"},"destination":{"id":"84fda410-de73-38de-96ae-ded52b6452a9","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"f106c6b3-3328-3b46-9254-6e5ad577af9c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1011.2732543945312,"y":2852.15283203125},{"x":1011.2732543945312,"y":2902.15283203125}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"2bcf8f26-40f3-39e2-94c5-86cfd7524dbe","instanceIdentifier":"82d8d246-9688-33ad-b39c-2e10cf3e4283","name":"","source":{"id":"a37bb339-f438-3564-b9ae-5ef3bbcab063","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b532556f-3d64-304f-8f13-76ea804cf679"},"destination":{"id":"144e031d-6ebd-37e0-91c7-e45cf0267425","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"Process Claims","comments":"","instanceIdentifier":"c32b09e3-44dd-3362-a236-609ea1c2baa5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["claim"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"3821133f-9d5a-3fcf-a7e4-7c701e9d4e18","instanceIdentifier":"d5e7ce10-1d3a-3ad1-bad2-301dadad26fe","name":"","source":{"id":"144e031d-6ebd-37e0-91c7-e45cf0267425","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"Process Claims","comments":"","instanceIdentifier":"c32b09e3-44dd-3362-a236-609ea1c2baa5"},"destination":{"id":"e905654b-5823-385b-ad41-1a185a3f4ce5","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"Update Filename","comments":"","instanceIdentifier":"076a40ca-6c12-3c7e-be37-a506ee55f3c0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"6c5c3bfe-ba77-3f23-829f-d66f316409ba","instanceIdentifier":"f2aa19c5-484b-371b-ae9e-d9714ac1dba1","name":"","source":{"id":"a37bb339-f438-3564-b9ae-5ef3bbcab063","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b532556f-3d64-304f-8f13-76ea804cf679"},"destination":{"id":"a66bb6b9-0181-3f76-9af2-e61d9a5c3d88","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"Process Condition","comments":"","instanceIdentifier":"e235b860-a359-3a87-80c9-e742c6a60ea7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["condition"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"e52ded65-83fd-34f8-9cf7-3cc67a114e32","instanceIdentifier":"45465518-733a-3726-9735-3b32356120de","name":"","source":{"id":"88e6d70d-d021-3abd-8c81-c1bcd65a1354","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f095a4a1-92a9-32e6-8b1b-419f38a4f569"},"destination":{"id":"a37bb339-f438-3564-b9ae-5ef3bbcab063","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b532556f-3d64-304f-8f13-76ea804cf679"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"b05dfb04-5746-3f2b-a9ce-69c89634eb9e","instanceIdentifier":"28730a2c-d762-3ac3-b571-9c09b7cbb011","name":"","source":{"id":"9ee7d764-3193-3121-9676-31e196212941","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"Process Benifits","comments":"","instanceIdentifier":"e1cb59d9-5fe4-364e-9af6-2c405b149f29"},"destination":{"id":"e253fcf3-69e5-316c-9708-75977a202f9c","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"Update Filename","comments":"","instanceIdentifier":"bbcea8d7-8b13-3eb9-b1a6-a005c1cfbc28"},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"ecadda82-60f7-3a13-82aa-95540849e04d","instanceIdentifier":"574624be-e71b-36d2-9a42-e487597f18c8","name":"","source":{"id":"f178ffce-0ce8-3c2e-a80c-fc76e4e7b001","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"Update Filename","comments":"","instanceIdentifier":"d751a6c3-d4fc-358b-8b12-892101218d8e"},"destination":{"id":"c5cf339d-0a75-3c9b-9d5c-f94b8d19ee15","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"15c814c3-018f-1000-ffff-ffffbcc4ee47"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"b3a0eeef-5308-3ec9-9863-f0d0f0059912","instanceIdentifier":"f196a400-a8e3-3078-b7a8-9a71e5155416","name":"","source":{"id":"7d8ee0c7-4456-3b0b-98ff-9b2ae61ea876","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"UnpackContent","comments":"","instanceIdentifier":"18a158c8-a98a-388e-8865-c4acfd34a774"},"destination":{"id":"a7109f7c-9e98-3409-a1b5-0ceb24a65758","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"SplitJson","comments":"","instanceIdentifier":"23e441b1-179f-354a-809b-00c7c977c89c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"80bc3fe6-7186-3d11-a1ed-50025f7fb558","instanceIdentifier":"fb07e944-09dc-35fa-a0ee-ffb0d7c36aca","name":"","source":{"id":"96156b8e-e714-3405-b29d-e2b2fc39cf3f","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"ListS3","comments":"","instanceIdentifier":"a9f825bc-b7e1-342c-bd5a-48d8cd1bc3d6"},"destination":{"id":"0216ee66-42fe-33da-b949-52b4d3ec8fa5","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"FetchS3Object","comments":"","instanceIdentifier":"5a267547-9b63-3cfb-a69d-13664f99e21b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"ed4d9efb-b2ff-37a7-9c3b-9e4247548a61","instanceIdentifier":"cb161519-57bf-34d6-afe6-530210a782ba","name":"","source":{"id":"0216ee66-42fe-33da-b949-52b4d3ec8fa5","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"FetchS3Object","comments":"","instanceIdentifier":"5a267547-9b63-3cfb-a69d-13664f99e21b"},"destination":{"id":"7d8ee0c7-4456-3b0b-98ff-9b2ae61ea876","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"UnpackContent","comments":"","instanceIdentifier":"18a158c8-a98a-388e-8865-c4acfd34a774"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"741c12d4-9e38-3bf1-b2f1-43039ae97ccd","instanceIdentifier":"6428767b-d67f-31a3-bd98-f623280900ef","name":"","source":{"id":"e253fcf3-69e5-316c-9708-75977a202f9c","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"Update Filename","comments":"","instanceIdentifier":"bbcea8d7-8b13-3eb9-b1a6-a005c1cfbc28"},"destination":{"id":"84fda410-de73-38de-96ae-ded52b6452a9","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"f106c6b3-3328-3b46-9254-6e5ad577af9c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"133d2b3c-74b0-356f-80e0-3b59cd035d6b","instanceIdentifier":"acdb3bfd-7cd5-3ac0-85a1-718b731886ce","name":"","source":{"id":"a7109f7c-9e98-3409-a1b5-0ceb24a65758","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"SplitJson","comments":"","instanceIdentifier":"23e441b1-179f-354a-809b-00c7c977c89c"},"destination":{"id":"100f006d-5404-3fb1-90cb-464cfc7153e4","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"Check for code 15777000","comments":"","instanceIdentifier":"38be3ed7-769e-1a5d-9cbc-50186f28e73f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"d2d90643-f81c-3be6-bf1d-dd14466beedb","instanceIdentifier":"da23ed70-610d-3b99-8660-7985667f6bb9","name":"","source":{"id":"e905654b-5823-385b-ad41-1a185a3f4ce5","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"Update Filename","comments":"","instanceIdentifier":"076a40ca-6c12-3c7e-be37-a506ee55f3c0"},"destination":{"id":"84fda410-de73-38de-96ae-ded52b6452a9","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"f106c6b3-3328-3b46-9254-6e5ad577af9c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"06679cba-c99c-3495-ab19-93fa9d1f6039","instanceIdentifier":"0d9fd9fe-018f-1000-0000-000059a5e63e","name":"","source":{"id":"100f006d-5404-3fb1-90cb-464cfc7153e4","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"Check for code 15777000","comments":"","instanceIdentifier":"38be3ed7-769e-1a5d-9cbc-50186f28e73f"},"destination":{"id":"88e6d70d-d021-3abd-8c81-c1bcd65a1354","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f095a4a1-92a9-32e6-8b1b-419f38a4f569"},"labelIndex":1,"zIndex":0,"selectedRelationships":["contains.code"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"5360374e-53de-379c-919b-ff271180a0d4","instanceIdentifier":"36460c5a-b645-3ec3-9872-5b4ce07bb4ff","name":"","source":{"id":"7e406527-711b-395e-b9ce-e7d9d096361a","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"Process CareTeam","comments":"","instanceIdentifier":"3005063a-b01c-3f47-b162-1386585461a0"},"destination":{"id":"f178ffce-0ce8-3c2e-a80c-fc76e4e7b001","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"Update Filename","comments":"","instanceIdentifier":"d751a6c3-d4fc-358b-8b12-892101218d8e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"5744f930-6cc9-3bb8-b32a-4afb114ee336","instanceIdentifier":"1bd053d9-018f-1000-0000-00007da3406e","name":"","source":{"id":"9ee7d764-3193-3121-9676-31e196212941","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"Process Benifits","comments":"","instanceIdentifier":"e1cb59d9-5fe4-364e-9af6-2c405b149f29"},"destination":{"id":"811678a0-e6d0-3e7a-b0db-1de464b0bdcc","type":"FUNNEL","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"Funnel","comments":"","instanceIdentifier":"1bd04435-018f-1000-0000-0000418a2a73"},"labelIndex":1,"zIndex":0,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"edb39a6f-1301-3c70-a2ce-99fab2f0be37","instanceIdentifier":"66877438-6cb5-3dbb-acbc-2881805d3984","name":"","source":{"id":"addda4a1-0d94-3894-b8f8-5997af7e8c74","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"Update Filename","comments":"","instanceIdentifier":"e097c708-8033-306d-ab2c-51197d077cb0"},"destination":{"id":"84fda410-de73-38de-96ae-ded52b6452a9","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"f106c6b3-3328-3b46-9254-6e5ad577af9c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"156010f6-113c-3054-839e-6aa8220579b0","instanceIdentifier":"af214e19-7609-3dce-b925-06d7344ec649","name":"","source":{"id":"a37bb339-f438-3564-b9ae-5ef3bbcab063","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b532556f-3d64-304f-8f13-76ea804cf679"},"destination":{"id":"9ee7d764-3193-3121-9676-31e196212941","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"Process Benifits","comments":"","instanceIdentifier":"e1cb59d9-5fe4-364e-9af6-2c405b149f29"},"labelIndex":1,"zIndex":0,"selectedRelationships":["benifits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"651db81d-3b07-36e9-8de0-f98d44bc1757","instanceIdentifier":"d0453f85-5f0c-3c63-8468-0fb73fbbabcf","name":"","source":{"id":"a66bb6b9-0181-3f76-9af2-e61d9a5c3d88","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"Process Condition","comments":"","instanceIdentifier":"e235b860-a359-3a87-80c9-e742c6a60ea7"},"destination":{"id":"addda4a1-0d94-3894-b8f8-5997af7e8c74","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"Update Filename","comments":"","instanceIdentifier":"e097c708-8033-306d-ab2c-51197d077cb0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"ad187714-27fb-34a2-ad5c-b0f3e8825881","instanceIdentifier":"a5b90350-aef9-3fe4-8be7-e16110208568","name":"","source":{"id":"a37bb339-f438-3564-b9ae-5ef3bbcab063","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b532556f-3d64-304f-8f13-76ea804cf679"},"destination":{"id":"7e406527-711b-395e-b9ce-e7d9d096361a","type":"PROCESSOR","groupId":"acef7131-2a4a-3469-bda9-db19723132c0","name":"Process CareTeam","comments":"","instanceIdentifier":"3005063a-b01c-3f47-b162-1386585461a0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["careteam"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"}],"labels":[],"funnels":[{"identifier":"811678a0-e6d0-3e7a-b0db-1de464b0bdcc","instanceIdentifier":"1bd04435-018f-1000-0000-0000418a2a73","position":{"x":1880.0,"y":2088.0},"componentType":"FUNNEL","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"}],"controllerServices":[{"identifier":"c71fe9ef-857a-3455-a1c9-4afc71f5c2c1","instanceIdentifier":"3db094ac-a49b-351c-8ab1-a251227920fe","name":"KeytabCredentialsService_BAPFD0101M","comments":"","type":"org.apache.nifi.kerberos.KeytabCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-credentials-service-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"Kerberos Keytab":"#{Settingfile_path}/nifi.keytab","Kerberos Principal":"nifi/${hostname(true)}@ASSET-PF.TEPCUBE.JP"},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.300-6"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"},{"identifier":"d3fecf89-795e-31b5-9085-a241498a6556","instanceIdentifier":"28c85c72-fc93-33b8-ac93-bb0a27bccc2e","name":"Default NiFi SSL Context Service","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.21.0.2.2.7.300-6"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/hadoopfs/fs4/working-dir/cm-auto-global_truststore.jks","Keystore Filename":"/hadoopfs/fs4/working-dir/cm-auto-host_keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.300-6"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.300-6"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"acef7131-2a4a-3469-bda9-db19723132c0"}],"variables":{},"parameterContextName":"HL7","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"HL7":{"name":"HL7","parameters":[{"name":"Scripts Directory","description":"","sensitive":false,"provided":false,"value":"/tmp/nismaily/scripts"},{"name":"SECRET KEY","description":"","sensitive":true,"provided":false},{"name":"CDPPASSWORD","description":"","sensitive":true,"provided":false},{"name":"HDFSDir","description":"","sensitive":false,"provided":false,"value":"/tmp/dod/hl7"},{"name":"CDPUSERNAME","description":"","sensitive":false,"provided":false,"value":"nismaily"},{"name":"S3 Bucket","description":"","sensitive":false,"provided":false,"value":"nasheb-hl7-data"},{"name":"ACCESS KEY","description":"","sensitive":true,"provided":false}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}